<div class="loading-wrap">
    <div class="p-loading l-loading">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 95 95"
             width="95"
             height="95"
             fill="#258AD1">
            <circle cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0" />
            </circle>
            <circle transform="rotate(45 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.125" />
            </circle>
            <circle transform="rotate(90 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.250" />
            </circle>
            <circle transform="rotate(135 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.375" />
            </circle>
            <circle transform="rotate(180 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.500" />
            </circle>
            <circle transform="rotate(225 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.625" />
            </circle>
            <circle transform="rotate(270 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.750" />
            </circle>
            <circle transform="rotate(315 42 42)" cx="47" cy="8" r="8">
                <animate attributeName="opacity" from="1" to="0.1" dur="1s" repeatCount="indefinite" begin="0.875" />
            </circle>
        </svg>
    </div>
</div>


