body {
}

.container {
    padding: 0;
}

.coupon-ticket {
    padding-top: 40px;
    padding-bottom: 500px;
}

.ct-menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

    .ct-menu a {
        display: inline-block;
        padding: 20px 20px;
        color: black;
        font-size: 14px;
    }

        .ct-menu a:hover {
            background-color: #F8F8FF;
        }


   