body {
}

.container {
    padding: 0;
}

.ct-sales {
    padding-top: 20px;
    padding-bottom: 500px;
}

.fee {
    padding: 20px 10px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

.ct-sales-btns {
    padding: 0 15px;
}

.ct-btn-a {
    margin-bottom: 10px;
}
