@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="sign-in">
        <div class="sign-in-logo">
            <img src="images/logo3.png" />
        </div>
        <div class="sign-in-new">
            <p>新規会員登録/ログイン</p>
            <a class="sign-in-new-btn" href="Sign-up">新規会員登録はこちらから</a>
        </div>
        <div class="sign-in-login">
            <h1>ログイン</h1>
            <div class="mailadress">
                <p>メールアドレス</p>
                <input />
            </div>
            <div class="passward">
                <p>パスワード</p>
                <input />
            </div>
            <div class="login">
                <a class="login-btn btn-a" href="mypage">ログイン</a>
            </div>
        </div>
        <div class="sign-in-not-login">
            <a href="#">ログインできない場合</a>
        </div>
    </div>
</div>
