@page "/sign-up"


<header>
    <div class="header-items">
        <a href="#">
            <img src="images/icon1.png" />
        </a>
        <p>新規会員登録</p>
    </div>
</header>
<div class="container">
    <div sign-up>
        <div class="sign-up-nav">
            <img />
            <div class="sign-up-nav-text">
                <p>仮登録</p>
                <p>情報入力</p>
                <p>登録完了</p>
            </div>
        </div>
        <div class="pv-sign-up-wrap">
            <p class="pv-text">仮会員登録</p>
            <div class="mailadress">
                <p>メールアドレス</p>
                <input class="text" />
            </div>
            <div class="passward">
                <p>パスワード</p>
                <input class="text" />
                <p class="pass-caution">英大文字、英小文字、数字を1文字以上、合計8文字以上</p>
            </div>
        </div>
        <div class="consent-wrap">
            <p>以下の内容を必ずご確認の上、「同意する」にチェックを入れてください。</p>
            <div class="consent-item">利用規約</div>
            <div class="consent-item">プライバシーポリシー</div>
            <p class="consent-cheakbox">
                <input type="checkbox" />同意する
            </p>
        </div>
        <div class="sign-up-next-wrap">
            <a href="#">次へ</a>
            <p>認証メールをお送りします</p>
        </div>

    </div>
</div>
@code {

}
