.p-account-complete__text {
    font-size: 0.875rem;
    line-height: 1.5714285714;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 2.1875rem;
}

.p-account-complete__btn {
    margin-top: 2.6875rem;
}
