.p-tiket-comfirm__btn {
    margin-top: 1.5625rem;
}

.p-tiket-comfirm__back {
    margin-top: 1.5625rem;
}

.confirm-text {
    margin: 1rem 0;
}

.confirm-card {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}