.p-ticket-complete__head {
    font-size: 1rem;
    line-height: 1.8125;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-align: center;
}

.p-ticket-complete__text {
    font-size: 0.875rem;
    line-height: 1.5714285714;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 2.1875rem;
}

.p-tiket-complete__btn {
    margin-top: 1.5625rem;
}

.p-tiket-complete__back {
    margin-top: 0.5rem;
}
