@page "/privacy-policy"

@inherits PageBase

@RenderLoading()

<PageBaseLayout HeaderName="プライバシーポリシー" NavigateBackAction="NavigateToMyPage">
    <main class="p-main-info-lower l-main-lower">
        <div class="p-news__inner l-inner">
            <ul class="p-news__contents">
                <li class="p-agreement__wrap">
                    <div class="p-agreement__text">
                        <p style="margin-top: 0.5rem;">株式会社ポートフォリオ（以下、「当社」といいます。）は、[サービス名]（以下、「本サービス」といいます。）におけるプライバシーの重要性を認識し、ユーザーの個人情報を保護するための方針を以下の通り定めます。</p>

                        <h3 style="margin-top: 0.5rem;">1. 個人情報の収集について</h3>
                        <p>当社は、本サービスの提供に必要な範囲で、ユーザーの個人情報（氏名、メールアドレス、電話番号等）を収集することがあります。収集した個人情報は、本ポリシーに従って適切に取り扱います。</p>

                        <h3 style="margin-top: 0.5rem;">2. 個人情報の利用目的</h3>
                        <p>当社は、収集した個人情報を以下の目的で利用します。</p>
                        <ul>
                            <li>本サービスの提供・運営のため</li>
                            <li>ユーザーからのお問い合わせに対する回答のため</li>
                            <li>新サービス、機能の開発のため</li>
                            <li>サービス利用状況の分析のため</li>
                        </ul>

                        <h3 style="margin-top: 0.5rem;">3. 個人情報の第三者提供</h3>
                        <p>当社は、以下の場合を除き、ユーザーの同意なくして個人情報を第三者に提供しません。</p>
                        <ul>
                            <li>法令に基づく場合</li>
                            <li>人の生命、身体または財産の保護のために必要がある場合</li>
                            <li>その他、個人情報保護法に基づく正当な理由がある場合</li>
                        </ul>

                        <h3 style="margin-top: 0.5rem;">4. 個人情報の安全管理</h3>
                        <p>当社は、収集した個人情報の紛失、破壊、改ざん及び漏洩などを防止するために、適切なセキュリティ対策を講じます。</p>

                        <h3 style="margin-top: 0.5rem;">5. プライバシーポリシーの変更</h3>
                        <p>当社は、必要に応じて、本プライバシーポリシーを変更することがあります。変更後のプライバシーポリシーは、本サービス上での掲載をもって効力を生じるものとします。</p>

                        <h3 style="margin-top: 0.5rem;">6. お問い合わせ</h3>
                        <p>本プライバシーポリシーに関するお問い合わせは、以下の連絡先までお願いします。</p>
                        <p style="margin-top: 0.5rem;">株式会社ポートフォリオ</p>
                        <p>〒111-1111 テスト県テスト市1丁目１番地22</p>
                        <p>電話番号: 111-111-1111</p>
                        <p>Eメール: portfolio@sample.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</PageBaseLayout>

@code {

}
