@page "/terms-of-service"

@inherits PageBase

@RenderLoading()

<PageBaseLayout HeaderName="利用規約" NavigateBackAction="NavigateToMyPage">
    <main class="p-main-info-lower l-main-lower">
        <div class="p-news__inner l-inner">
            <ul class="p-news__contents">
                <li class="p-agreement__wrap">
                    <div class="p-agreement__text">
                        <p style="margin-top: 0.5rem;">本利用規約（以下、「本規約」といいます。）は、[会社名]（以下、「当社」といいます。）が提供する[サービス名]（以下、「本サービス」といいます。）の利用条件を定めるものです。本サービスを利用するすべてのユーザー（以下、「ユーザー」といいます。）は、本規約に同意したものとみなされます。</p>

                        <h3 style="margin-top: 0.5rem;">第1条（適用）</h3>
                        <p>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>

                        <h3 style="margin-top: 0.5rem;">第2条（利用登録）</h3>
                        <ol>
                            <li>ユーザーは、本規約に同意の上、当社の定める手続きにより、本サービスの利用登録を行うものとします。</li>
                            <li>当社は、利用登録の申込者に対して、特定の基準に基づいて利用登録を承認または拒否することができるものとします。</li>
                        </ol>

                        <h3 style="margin-top: 0.5rem;">第3条（ユーザーIDおよびパスワードの管理）</h3>
                        <ol>
                            <li>ユーザーは、自己の責任において、ユーザーIDおよびパスワードを適切に管理するものとします。</li>
                            <li>ユーザーは、いかなる場合も、ユーザーIDまたはパスワードを第三者に譲渡または貸与することはできません。</li>
                        </ol>

                        <h3 style="margin-top: 0.5rem;">第4条（禁止事項）</h3>
                        <p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはならないものとします。</p>
                        <ul>
                            <li>法令または公序良俗に違反する行為</li>
                            <li>犯罪行為に関連する行為</li>
                            <li>当社、本サービスの他のユーザー、または第三者の権利を侵害する行為</li>
                            <li>その他、当社が不適切と判断する行為</li>
                        </ul>

                        <h3 style="margin-top: 0.5rem;">第5条（本サービスの提供の停止等）</h3>
                        <ol>
                            <li>
                                当社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
                                <ul>
                                    <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                                    <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
                                    <li>その他、当社が本サービスの提供が困難と判断した場合</li>
                                </ul>
                            </li>
                            <li>当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても責任を負わないものとします。</li>
                        </ol>

                        <h3 style="margin-top: 0.5rem;">第6条（著作権）</h3>
                        <p>本サービスに関する著作権および知的財産権は、当社または当社にライセンスを提供する第三者に帰属しています。ユーザーは、当社または第三者の著作権を尊重するものとします。</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</PageBaseLayout>

@code {

}
